<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @item.code %>
</p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Enabled:</b>
  <%= @item.enabled %>
</p>

<p>
  <b>Show on home:</b>
  <%= @item.show_on_home %>
</p>

<%= image_tag @item_image.image.url(:thumb) %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
