<style>
	body {
		background-color:#f0eadb
	}

    #categories {
    	width: 176px;
        height: 400px;
        float: left;
        border-width:2px;
        border-style:solid;
        border-color: #999;
        margin: 10px;
        clear: both; 
        background-color:#fff;
    }

    #wrap {
    	width: 1000px;
    }

    #header {

    }

    #content {
    	width: 736px;
        height: 400px;
        float: right;
        background-color:#fff;
        padding: 20px;
        margin: 10px;
        border-width:2px;
        border-style:solid;
        border-color: #999;
    }

    #thumbnails {
    	width: 200px;
        height: 300px;
        float: left;
    }

    #producttitlewrap {
    	width: 516px;
        height: 200px;
        float: right;
        margin: 10px;
    }

    #pricecartwrap {
		width: 516px;
        height: 100px;
        margin: 0px;
    }

    #pricewrap {
    	width: 180px;
        height: 100px;
        margin: 0px;
        float: left;
        text-align: center;
    }

    #logotype {
    	width: 200px;
        height: 100px;
        margin: 0px;
        float: left;
    }

    #information {
    	width: 760px;
        height: 100px;
        margin: 0px;
        float: right;
        text-align: left;
        padding:20px;
    }

    #description {
		clear: both;
    }

    .thumbnailcontainer {
    	width: 200px;
        height: 200px;
        display: table-cell;
        vertical-align: middle 
    }

</style>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>

<div id="wrap">
	<div id="header">
		<div id="logotype">
			<%= image_tag("logo_small.png") %>
		</div>
		<div id="information">
			Hello guest! | My orders | Login
		</div>
	</div>
	<div id="categories">
		<h5>Categories:</h5>
		<% @categories.each do |category| %>
			<%= link_to category.title, storefront_path(:category_id => category.id) %>
		<% end %>
	</div>

	<div id="content">
		<div id="thumbnails">
			<div class="flexslider">
				<ul class="slides">
					<% @item.item_images.each do |item_image| %>
						<li>
							<div class="thumbnailcontainer">
								<%= link_to image_tag(item_image.image.url(:thumb)), {:action => 'index', :controller => 'items'}, :class => 'dock-item' %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="producttitlewrap">
			<h1><%= @item.code %> - <%= @item.title %></h1>
			<%= @item.category.title %></br>
			<div id="pricecartwrap">
				<div id="pricewrap">
					<h3><%= number_to_currency(@item.price) %></h3>
				</div>
				<div id="addtocart">
					<%= text_field_tag('quantity', '1', :maxlength => 3, :size => 3) %>
					<%= button_to "ADD TO CART", items_path, :method => "get" %>
				</div>
			</div>
		</div>
		<div id="description">
			<p>
			  <b>Description:</b>
			  <%= @item.description %>
			</p>
		</div>

	</div>
</div>