<style>
    #wrap {
    	width: 1000px;
    }

    #content {
    	width: 736px;
        height: 400px;
        float: right;
        background-color:#fff;
        padding: 20px;
        margin: 10px;
        border-width:2px;
        border-style:solid;
        border-color: #999;
    }

    #thumbnails {
    	width: 200px;
        height: 300px;
        float: left;
    }

    #producttitlewrap {
    	width: 516px;
        height: 200px;
        float: right;
        margin: 10px;
    }

    #pricecartwrap {
		width: 516px;
        height: 100px;
        margin: 0px;
    }

    #pricewrap {
    	width: 180px;
        height: 100px;
        margin: 0px;
        float: left;
        text-align: center;
    }

    #description {
		clear: both;
    }

    .thumbnailcontainer {
    	width: 200px;
        height: 200px;
        display: table-cell;
        vertical-align: middle 
    }

</style>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>

<div id="wrap">
	<%= render :partial => "/layouts/header" %>
	<%= render :partial => "/layouts/categories", :locals => { :categories => @categories } %>

	<div id="content">
		<div id="thumbnails">
			<div class="flexslider">
				<ul class="slides">
					<%-# draws the thumbnails, which will be changed later by flexslider js -%>
					<% @item.item_images.each do |item_image| %>
						<li>
							<div class="thumbnailcontainer">
								<%= link_to image_tag(item_image.image.url(:medium)), itemimage_path(item_image) %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="producttitlewrap">
			<h1><%= @item.code %> - <%= @item.title %></h1>
			<%= @item.category.title %></br>
			<div id="pricecartwrap">
				<div id="pricewrap">
					<%-# prints the price in the $##.## format -%>
					<h3><%= number_to_currency(@item.price) %></h3>
				</div>
				<div id="addtocart">
                    <%= form_tag({:controller => "shopping_cart", :action => "addtocart"}, :method => "post") do %>
                        <%= hidden_field_tag 'item_id', @item.id %>
                        <%= text_field_tag('quantity', '1', :maxlength => 3, :size => 3) %>
                        <%= submit_tag("ADD TO CART") %>
                    <% end %>
				</div>
			</div>
		</div>
		<div id="description">
			<p>
			  <b>Description:</b>
			  <%= @item.description %>
			</p>
		</div>

	</div>
</div>